h1 {
    color: blue
}

table {
    border-collapse: collapse;
}

td {
    border:1px solid navy;
    border-collapse: collapse;
    padding:10px;
}

th{
    border: 1px solid navy;
    padding: 20px;
}

.navbar{
    height:150;
    background-color:forestgreen;
}

.navitem{
    display:inline-block;
    color: wheat;
    margin-left: 100px;
}